{
  "semi": false,              
  "singleQuote": false,       
  "trailingComma": "none",   
  "endOfLine": "auto",         
  "printWidth": 80,            
  "tabWidth": 2,              
  "useTabs": false             
}
